<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
<form id="adminLogin" action="/heroes" method="post">
<%- include('partials/form-input', adminUserName) %>
<button type="submit">Submit</button>
</form>
  </body>
</html>